DQuick-MonoD.userprefs
DQuick/bin/
DQuick/obj/
third-party/SDL-2.0.0/Makefile
third-party/SDL-2.0.0/Makefile.rules
third-party/SDL-2.0.0/SDL2.spec
third-party/SDL-2.0.0/build/
third-party/SDL-2.0.0/config.log
third-party/SDL-2.0.0/config.status
third-party/SDL-2.0.0/libtool
third-party/SDL-2.0.0/sdl2-config
third-party/SDL-2.0.0/sdl2.pc
third-party/SDL_Image-2.0.0/Xcode/
third-party/SDL_Image-2.0.0/aclocal.m4
third-party/SDL_Image-2.0.0/.deps/
third-party/SDL_Image-2.0.0/.libs/
third-party/SDL_Image-2.0.0/*.lo
third-party/SDL_Image-2.0.0/*.o
third-party/SDL_Image-2.0.0/Makefile
third-party/SDL_Image-2.0.0/SDL2_image.pc
third-party/SDL_Image-2.0.0/autom4te.cache/
third-party/SDL_Image-2.0.0/config.log
third-party/SDL_Image-2.0.0/config.status
third-party/SDL_Image-2.0.0/libSDL2_image.la
third-party/SDL_Image-2.0.0/libtool
third-party/SDL_Image-2.0.0/showimage
